{% extends "base.html" %}

{% block content %}
<h2 class="mb-4">Latest Jobs</h2>
<div class="list-group">
    {% for job in jobs %}
    <a href="/job/{{ job.id }}" class="list-group-item list-group-item-action">
        <h5 class="mb-1">{{ job.title }}</h5>
        <p class="mb-1 text-muted">{{ job.company }} – {{ job.location }}</p>
        <small>
            {% if job.posted_time %}
            Posted on {{ job.posted_time.strftime('%Y-%m-%d') }}
            {% else %}
            Posted time NA
            {% endif %}
        </small>
    </a>
    {% endfor %}
</div>
{% endblock %}